body{
  background-color: #FFFFFF;
}

h1,h2 {
  color: #213640;
  font-family: 'Indie Flower', 'Rounded Mplus 1c', sans-serif;
}

h1 {
  padding-top: 1em;
}

p {
  font-family: sans-serif;
}

#header {
  padding: -10px;
  background-color: #85D7FF;
  background-image: linear-gradient(90deg, #85D7FF, #78C1E5);
  border-top: solid 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#card{
  padding-top: 2em;
  display: flex;
  align-items: center;
}

#footer {
  padding: -10px;
  background-color: #F0F0F0;
  background-image: linear-gradient(180deg, #F0F0F0, #D1D1D1);
  border-bottom: solid 10px;
}

.title {
  font-size: 2em;
  margin: 0 30% 1em 30%;
  padding: 0.5em 0 0.5em 0;
  background-color: #85D7FF;
  border-radius: 25px;
}

.bottom-grad{
  background: #E8E8E8;
  background-image: linear-gradient(180deg, #FFFFFF, #F0F0F0);
}

.profile-pic{
  position: relative;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.subtext{
  font-size: 80%;
  margin-top: -0.5em;
  padding: .9em;
  background-color: #E8E8E8;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.footer{
  margin-top: 1em;
  font-size: 80%;
}